body {
    background-color: rgb(89, 95, 214);
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

main {
    display: block;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid aliceblue;
    width: 600px;
    margin: auto;
    margin-top: 30px;
}

.input-label {
    color: aliceblue;
    margin-bottom: 10px;
}

.input-label h1 {
    font-size: 32px;
}

.input-label p {
    font-size: 24px;
}

form {
    display: flex;
    flex-direction: column;
}

textarea {
    resize: none;
	overflow: auto;
}

textarea::-webkit-input-placeholder  { 
    color: black;
    font-family: 'Roboto', sans-serif;
    opacity: 0.5; -moz-opacity: 0.5; filter:alpha(opacity=5); 
}
textarea::-moz-placeholder { 
    color: black;
    font-family: 'Roboto', sans-serif;
    opacity: 0.5; -moz-opacity: 0.5; filter:alpha(opacity=5); 
}

.counter-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.symbol-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.symbol-text p {
    color: aliceblue;
}

.input-form {
    width: 100px;
}

.input-form::-webkit-input-placeholder  { 
    color: black;
    font-family: 'Roboto', sans-serif;
    opacity: 0.5; -moz-opacity: 0.5; filter:alpha(opacity=5); 
}

.input-form::-moz-placeholder { 
    color: black;
    font-family: 'Roboto', sans-serif;
    opacity: 0.5; -moz-opacity: 0.5; filter:alpha(opacity=5); 
}


