body {
    background-color: rgb(89, 95, 214);
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

main {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid aliceblue;
    width: 600px;
    margin: auto;
    margin-top: 30px;
}

.input-label {
    color: aliceblue;
    margin-bottom: 10px;
}

.input-label h1 {
    font-size: 32px;
}

.input-label p {
    font-size: 24px;
}

form {
    display: flex;
    flex-direction: column;
}

textarea {
    resize: none;
}

textarea::placeholder {
    color: black;
}

.counter-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.counter-div .symbol-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.counter-div .symbol-text p {
    color: aliceblue;
}

.counter-div .buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.buttons .button {
    height: 80px;
}

.input-form {
    width: 100px;
}
