* {
	/*outline: 4px solid green;*/
}

body {
    background-color: rgb(89, 95, 214);
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

main {
    display: block;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 2px solid aliceblue;
    width: 600px;
    margin: auto;
    margin-top: 30px;
}

.input-label {
    color: aliceblue;
    margin-bottom: 10px;
}

.input-label h1 {
    font-size: 32px;
}

.input-label p {
    font-size: 24px;
}

form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

textarea {
    resize: none;
	overflow: auto;
}

textarea::-webkit-input-placeholder  { 
    color: black;
    font-family: 'Roboto', sans-serif;
    opacity: 0.5; -moz-opacity: 0.5; filter:alpha(opacity=5); 
}
textarea::-moz-placeholder { 
    color: black;
    font-family: 'Roboto', sans-serif;
    opacity: 0.5; -moz-opacity: 0.5; filter:alpha(opacity=5); 
}

.counter-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.symbol-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
	margin-bottom: auto;
}

.symbol-text p {
    color: aliceblue;
}

.symbol-text span {
	background-color: aliceblue;
	color: black;
	border-radius: 50px;
	padding: 10px 20px;
}

.symbol-text strong {
	text-decoration: underline;
	text-underline-offset: 8px;
}

.input-form {
    width: 60px;
	border-radius: 10px;
	padding: 10px 10px;
}

.input-form::-webkit-input-placeholder  { 
    color: black;
    font-family: 'Roboto', sans-serif;
    opacity: 0.5; -moz-opacity: 0.5; filter:alpha(opacity=5); 
}

.input-form::-moz-placeholder { 
    color: black;
    font-family: 'Roboto', sans-serif;
    opacity: 0.5; -moz-opacity: 0.5; filter:alpha(opacity=5); 
}


